h1 {
    padding-bottom: 25px;
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 3px;
    padding: 24px 15px 24px 15px;
    margin: 8px;
}

.lag {
    color: tomato;
}

.chic {
    color: blueviolet;
}

.coc {
    color: goldenrod;
}

.lag:hover {
    color: aqua;
}

.chic:hover {
    color: black;
}

.coc:hover {
    color: yellow;
}